<html>
  <head>
    <title>Email templates</title>
    <style>
      #loginButton { margin-right: auto; width: 107px; display: block; padding-top: 9px; padding-left:
      20px; padding-right: 10px; border-radius: 10px; background-color: #31a950; color: white; border: none; height: 28px; }
      #title{ color: #31A950; } #horizontalLine{ border-top: 3px solid green; }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <span style='font-family: Arial; font-size: 10pt'>
            Hello
            <b>{{options.candidateName}}</b>,
            <p>I hope this message finds you well. I regret to inform you that the scheduled Zoom Meeting event titled "Interaction with {{options.organization}} for job opening of {{options.job}} on {{options.date}} at {{options.startTime}} has been cancelled. We apologize for any inconvenience</p>
            
            <p>Meeting Link: {{options.meetingLink}}</p>

                      Thanks<br />
          <strong>PMS Team</strong>
          </span>

        </td>
      </tr>
    </table>
  </body>
</html>


                                  